.board {
  width: fit-content;

  padding: 2rem;
  border-radius: 0.25rem;

  background: var(--primary-100);
}

.board__row {
  display: flex;
}

.board-square {
  width: 6rem;
  height: 6rem;
  margin: 0.25rem;
  border: 0.25rem solid var(--primary-500);
  border-radius: 0.25rem;
  outline: none;

  background: white;

  cursor: pointer;

  transition: all 300ms;
}

.board-square.x-bg {
  border-color: var(--primary-700);

  background: linear-gradient(60deg, var(--primary-700), var(--primary-500));
}

.board-square.o-bg {
  border-color: var(--tonic-700);

  background: linear-gradient(60deg, var(--tonic-700), var(--tonic-500));
}

.board-square.x-bg .fas,
.board-square.o-bg .fas {
  color: white;
}

.board-square:focus {
  border-color: var(--tonic-700);

  transform: scale(1.05);
}

.board-square:hover {
  background: var(--neutral-100);
}

.board-square:disabled:hover {
  background: white;
}

.board-square__content {
  font-size: 3.5rem;
  font-weight: 700;
}

/* =====
   MODAL
   ===== */

.board__modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8000;

  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.4);
}

.board__modal {
  position: absolute;
  top: 11rem;
  left: 50%;

  width: 22rem;
  padding: 3rem;
  border-radius: 0.5rem;

  color: var(--primary-700);
  font-size: var(--h3-size);
  font-weight: 700;
  text-align: center;

  background: white;
  transform: translateX(-50%);
}

.board__modal-message {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.75rem;
}

.board__modal-message .fas {
  padding: 0 0.5rem;

  font-size: 2.5rem;
}

.btn--cta {
  margin: 2rem 0 0 0;
  padding: 0.75rem 4rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;

  color: white;

  background: linear-gradient(60deg, var(--tonic-700), var(--tonic-500));

  cursor: pointer;
  transition: all 300ms;
}

.btn--cta:focus,
.btn--cta:hover {
  box-shadow: 0 0.25rem 0.5rem var(--neutral-500);

  transform: translateY(-0.125rem);
}

@media screen and (max-width: 890px) {
  .board {
    padding: 1.5rem;
  }

  .board-square {
    width: 5rem;
    height: 5rem;
  }

  .board__modal {
    top: 9rem;

    width: 16rem;
    padding: 1.5rem;
  }

  .board__modal-message {
    font-size: 1.5rem;
  }

  .board__modal-message .fas {
    font-size: 2rem;
  }
}
