.board {
  width: fit-content;
  margin: auto;
  padding: 1.5rem;
  border-radius: 0.25rem;

  background: var(--primary-100);
}

.board__next-player {
  margin: 1.5rem 0 0 0;

  font-size: var(--h4-size);
  font-weight: 700;
  text-align: center;
}

.board__row {
  display: flex;
}

.board-square {
  width: 4rem;
  height: 4rem;
  margin: 0.125rem;
  border: 0.25rem solid var(--primary-500);
  border-radius: 0.25rem;

  background: white;

  cursor: pointer;
}

.board-square__content {
  color: var(--primary-500);
  font-size: var(--h1-size);
  font-weight: 700;
}
