.game {
  display: flex;
  justify-content: center;
}

.game-infos {
  width: 16rem;
  margin: 0 2rem;
  padding: 2rem;

  background: var(--neutral-100);
}

.game-infos__next-player {
  margin: 0 0 1rem 0;

  color: var(--primary-700);
  font-size: var(--h3-size);
  font-weight: 700;
  text-align: center;
}

.fa-times-circle {
  color: var(--primary-500);
}

.fa-dot-circle {
  color: var(--tonic-300);
}

.fa-undo {
  padding: 0 0.5rem;
  font-size: var(--sm-size);
}

.game-infos button {
  width: 100%;
  padding: 0.25rem;
  margin: 0.125rem 0;
  border: none;
  border-radius: 0.25rem;

  color: white;
}

.active-undo-btn {
  outline: none;

  cursor: pointer;
}

.active-undo-btn:focus,
.active-undo-btn:hover {
  transform: scale(1.05);

  transition: all 300ms;
}

.game-infos button {
  background: var(--neutral-300);
}

.game-infos button.x-bg.active-undo-btn {
  background: var(--primary-700);
}

.game-infos button.o-bg.active-undo-btn {
  background: var(--tonic-700);
}

.game-infos button .fas {
  color: white;
}
